@{
    ViewBag.Title = "DisplayReport";
}

<h2>DisplayReport</h2>

<div class="row">
    <div class="col-md-12">
        <img src="@Url.Action("ShowQuotaGraph")" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="@Url.Action("ShowSkillGraph")" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="@Url.Action("ShowGenderGraph")" />
    </div>
    <div class="col-md-6">
        <img src="@Url.Action("Show10thBoardTypeGraph")" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="@Url.Action("Show12thBoardTypeGraph")" />
    </div>
    <div class="col-md-6">
        <img src="@Url.Action("ShowEventTypeGraph")" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="@Url.Action("ShowEventLevelGraph")" />
    </div>
    <div class="col-md-6">
        <img src="@Url.Action("ShowProjectGraph")" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="@Url.Action("ShowJobGraph")" />
    </div>
    <div class="col-md-6">
        @*<img src="@Url.Action("ShowProjectGraph")" />*@
    </div>
</div>