@model RoSAT.Models.SubSkill

@{
    ViewBag.Title = "EditSkill";
}

<div class="container">
    <div class="row" style="position: relative;right: 25%; left: 25%;">
        <div class="col-md-6  form-box reg-form1">

            @using (Html.BeginForm("EditSkill", "Skills", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Step 6 / 8</h3>
                        <p>Skill Set Information:</p>
                    </div>

                </div>
                <div class="form-bottom">

                    <div class="area form-group">
                        @Html.LabelFor(model => model.Category, "Category*", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Category, ViewBag.Category1 as SelectList, "Pick one", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Name of Skill*", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <p>Eg: Artificial Intelligence</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificateId, "Certificate ID", htmlAttributes: new { @class = "control -label col-md-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CertificateId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CertificateId, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificateIssuingAuthority, "Certificate Issuing Authority", htmlAttributes: new { @class = "control -label col-md-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CertificateIssuingAuthority, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CertificateIssuingAuthority, "", new { @class = "text-danger" })
                            <p>Mention the name of the Institution /Organization that issued the certificate.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificateEarnedDate, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CertificateEarnedDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CertificateEarnedDate, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificateExpiryDate, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CertificateExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CertificateExpiryDate, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificatePhoto, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-9">
                            <input type="file" name="photoUpload" class="form-control" />
                            @Html.ValidationMessageFor(model => model.CertificatePhoto, "", new { @class = "text-danger" })

                        </div>

                    </div>
                    <div class="col-md-12">
                        <input type="submit" id="btn2" class="btn btn-next btn-info" value="Save" />
                    </div>

                </div>

            }
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
